body{
    background-color: darkslateblue; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
}

.container{
    background-color: darkorchid; 
    width: 430px; 
    height: 300px; 
    display: flex; 
    flex-direction: column; 
    margin: auto; 
    color: white; 
    border-radius: 10%; 
    box-shadow: 5px 5px whitesmoke;
}
.container h1{
    text-align: center;
}
.container form{
    display: flex; 
    flex-direction: column;
    margin: auto 0;
}

.container div{
    display: flex; 
    align-items: center; 
    margin: 2%;
}

.container form input {
    box-shadow: black 3px 3px;
}

.container .btn-form{
    margin: 2%;
    display:flex;
    justify-content: center;
}